[Desktop Entry]
Name=Ubuntu (confined)
Comment=This session logs you into Ubuntu
Exec=/snap/bin/confined-desktop
TryExec=/snap/bin/confined-desktop
Type=Application
DesktopNames=ubuntu:GNOME
X-GDM-SessionRegisters=true
