[Unit]
Description=Launches subiquity
After=getty@tty1.service
After=snap.subiquity.subiquity-server

[Service]
Type=simple
ExecStart=bin/sh sudo /snap/subiquity/current/usr/bin/subiquity-server
